<!DOCTYPE html>
<html>
<head>
    <title>Server Down Checker</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">

</head>
<body>
    <h1>Server Down Checker</h1>

    <div class="container">
        <h2>Servers Down</h2>
        <table>
            <tr>
                <th>No.</th>
                <th>URL</th>
                <th>Action</th>
            </tr>
            {% for server in servers %}
            <tr>
                <td>{{ server[0] }}</td>
                <td>{{ server[1] }}</td>
                <td>
                    <form action="/remove" method="post">
                        <input type="hidden" name="server_id" value="{{ server[0] }}">
                        <button type="submit">Remove</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>

    <div class="container">
        <h2>Check Server</h2>
        <form action="/check" method="post">
            <label for="server_url">Server URL:</label>
            <input type="text" id="server_url" name="server_url" required>
            <button type="submit">Check</button>
        </form>
    </div>
</body>
</html>
